body {
    background-color: fuchsia;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links {
    font-size: 20px;
    font-weight: bold;
}

.shrimp {
    background-color: #FC600A;
}

.lamb {
    background-color: #34091C;
    color: white;
}

#meatloaf {
    background-color: #FDED2A;
    color: #AE0D7A;
}

a:link, a:visited {
    text-decoration: none;
    color: blue;
  }